* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "華康棒棒體W5";
}

body {
    /*background-image: url(../img/1.jpg);*/
    background-image: url(../img/3.jpg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: auto;
    padding: 20px;
    display: block;
    overflow-x: hidden;
}

a {
    border: none;
    text-decoration: none;
    color: black;

}

/*字型----------------------*/
@font-face{
    font-family: '華康棒棒體W5';
    src: url('../font/MiConv.com__DFBnagBang-W5-WIN-BF-01.woff') format("woff"),
        url('../font/DFBnagBang-W5-WIN-BF-01.ttf') format("truetype"),
        url('../font/MiConv.com__DFBnagBang-W5-WIN-BF-01.eot') format("embedded-opentype");
}

/*header*/
header {
    margin-top: 5px;
    height: 10%;
    background-color: #f0e2d7;
    display: flex;
    width: 100%;
}

.indexa{
    width: 20%;
}

.r-header-titlebox {
    margin-top: 1%;
    width: 90%;
    overflow: hidden;
    margin-left: 7%;
}

.r-header-title {
    padding: 10px;
    width: 100%;
}

.r-header-title>img {
    width: 100%;
}

.r-header-title2 {
    position: absolute;
    top: 38px;
    left: 47px;
    width: 15%;
    opacity: 0;
    border-radius: 20px;
}

.r-header-titlebox:hover>.r-header-title2 {
    opacity: 1;
}

.r-header-titlebox:hover>.r-header-title {
    opacity: 0;
}

.r-header-title2>img {
    width: 100%;
}

/*選單*/
.r-header-nav {
    width: 60%;
    display: flex;
    padding-left: 1%;
}

.nava{
    width: 15%;
    margin: 3%;
}

.r-h-n-text-content {
    width: 100%;
    font-size: 24px;
    margin-top: 14%;
    transform: scale(1, 1.05);
}

.r-h-n-text-content:hover {
    width: 100px;
    height: 33px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #63a5a5;
    padding-top: 3px;
    transform: scale(1, 1.05);
}

/*搜尋*/
.r-header-search {
    height: 40px;
    width: 200px;
    margin-top: 16%;
    display: flex;
}

.r-header-search>.searchtext {
    border-radius: 10px;
    background-color: #ebe0d9;
    border: rgb(155, 155, 155) 1px solid;
    outline: none;
    width: 150px;
    font-size: 15px;
}

.searchpic {
    width: 80%;
    height: 100%;
}

.searchbtn {
    border: none;
    background-color: #f0e2d700;
    cursor: pointer;
}

/*購物車跟會員*/
.r-header-smallpic {
    width: 14%;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}

.carta{
    width: 100%;
    margin-top: 9%;
}

.r-h-smallpic-memcart {
    width: 45%;
    height: 40px;
    margin: 16% 5%;
}

.r-h-smallpic-memcart>img {
    width: 100%;
    height: 100%;
}

.all {
    width: 80%;
    height: auto;
    margin-left: 25%;
    padding: 3% 0px 0px 0px;
}

.allP-midbox1 {
    border-radius: 10PX;
    width:80%;
    height: 750px;
    display: flex;
    text-align: center;
    /*margin-bottom: 30px;*/
    position: relative;
}

.warpper {
    position: absolute;
    width: 80%;
    height: 100%;
    perspective: 800px;
    transform-style: preserve-3d;
    margin-top: -80px;

}

.allP-midbox1 .warpper img {
    width: 350px;
    height: auto;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 8px;
    transition: all 0.8s ease-in-out;
}

.newword {
    width: auto;
    height: 80px;
    position: absolute;
    z-index: 1;
    margin-top: 65%;
    margin-left: 5%;
    font-size: 40px;

}

.newword>h1 {
    background-color: #f73949;
    border-radius: 10PX;
    padding-top: 5px;
    text-align: center;
}

/*-----------------------國家類別-----------------*/
.country {
    background-image: url("../img/korea.jpg");
    border-radius: 10PX;
    width:120%;
    height: 350px;
    margin-top: 30px;
    margin-left: -29%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.country-name1 {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.561);
    /* Black w/opacity/see-through */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 1130px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: auto;
    padding: 20px;
    text-align: center;
}


.country2 {
    background-image: url("../img/europe.jpg");
    border-radius: 10PX;
    width: 120%;
    height: 350px;
    display: flex;
    margin-top: 30px;
    margin-left: -29%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.country-name2 {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.657);
    /* Black w/opacity/see-through */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 315%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: auto;
    padding: 20px;
    text-align: center;
}

.country3 {
    background-image: url("../img/taiwan.jpg");
    border-radius: 10PX;
    width: 120%;
    height: 350px;
    display: flex;
    margin-top: 30px;
    margin-left: -29%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.country-name3 {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.657);
    /* Black w/opacity/see-through */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 475%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: auto;
    padding: 20px;
    text-align: center;
}

/*歌手大框框*/
.a11-midbox {
    /*background-color: #aab8abb2;*/
    background-color: rgba(236, 227, 203, 0.521);
    border-radius: 10PX;
    width: 120%;
    height: auto;
    display: block;
    margin-left: -29%;
    margin-top: 30px;
    margin-bottom: 30px;

}

.k-midbox {
    width: 100%;
    height: 60%;
    display: flex;

}

.albumbox-1 {
    /*background-color: #42403fca;*/
    border-radius: 250px;
    width: 380px;
    height: 380px;
    margin-left: 8%;
    margin-top: 2%;
    position: relative;
}

.k-singer {
    margin-left: -26%;
    width: 380px;
    height: auto;
    border-radius: 250px;
    box-shadow: 20px 20px 40px rgb(0, 0, 0);
}

.albumbox-1:hover .k-singer {

    opacity: 0.3;
}

.albumbox-1:hover .middle {
    opacity: 1;

}

.k-midbox-1 {
    width: 1800px;
    height: 300px;
    display: flex;
}

.albumbox-2 {
    /*background-color: #42403fca;*/
    width: 210px;
    height: 210px;
    margin-top: 3%;
    margin-left: 1.2%;
    border-radius: 250px;
    position: relative;
}

.k-singer2 {
    width: 210px;
    height: auto;
    border-radius: 250px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

.albumbox-2:hover .k-singer2 {
    opacity: 0.3;
}

.albumbox-2:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 20%;
    width: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text1 {
    color: white;
    font-size: 75px;
    text-align: center;
    width: 450px;
    padding-bottom: 30px;
    margin-left: 2%;
    margin-top: 45%;
    /*padding: 16px ;*/
}

.text2 {

    color: white;
    font-size: 45px;
    text-align: center;
    width: 260px;
    padding-bottom: 20px;
    position: absolute;
    top: 40px;
    left: -70px;

    /*padding: 16px ;*/
}

/*footer*/
.footer {
    height: 100px;
    background-color: #f0e2d7;
    display: flex;
    font-size: larger;
}

.footer-contactus {
    width: 30%;
    margin: 7px 20px
}

.footer-count {
    width: 100%;
    margin-left: 10%;
    text-align: center;
}

.footer-our {
    width: 50%;
    margin: 7px 0px;
}

.footer-our>p {
    text-align: center;
}