* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "華康棒棒體W5";
}

body {
    background-image: url(../img/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: auto;
    padding: 20px;
    display: block;
}

/*header*/
header {
    margin-top: 5px;
    height: 10%;
    background-color: #f0e2d7;
    display: flex;
    width: 100%;
}

/*字型----------------------*/
@font-face{
    font-family: '華康棒棒體W5';
    src: url('../font/MiConv.com__DFBnagBang-W5-WIN-BF-01.woff') format("woff"),
        url('../font/DFBnagBang-W5-WIN-BF-01.ttf') format("truetype"),
        url('../font/MiConv.com__DFBnagBang-W5-WIN-BF-01.eot') format("embedded-opentype");
}

.indexa{
    width: 20%;
}

.r-header-titlebox {
    margin-top: 1%;
    width: 90%;
    overflow: hidden;
    margin-left: 7%;
}

.r-header-title {
    padding: 10px;
    width: 100%;
}

.r-header-title>img {
    width: 100%;
}

.r-header-title2 {
    position: absolute;
    top: 38px;
    left: 38px;
    width: 16%;
    opacity: 0;
    border-radius: 20px;
}

.r-header-titlebox:hover>.r-header-title2 {
    opacity: 1;
}

.r-header-titlebox:hover>.r-header-title {
    opacity: 0;
}

.r-header-title2>img {
    width: 100%;
}

/*選單*/
.r-header-nav {
    width: 60%;
    display: flex;
    padding-left: 1%;
}

.nava{
    width: 15%;
    margin: 3%;
}

.r-h-n-text-content {
    width: 100%;
    font-size: 24px;
    margin-top: 14%;
    transform: scale(1, 1.05);
}

.r-h-n-text-content:hover {
    width: 100px;
    height: 33px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #63a5a5;
    padding-top: 3px;
    transform: scale(1, 1.05);
    cursor: pointer;
}

/*搜尋*/
.r-header-search {
    height: 40px;
    width: 200px;
    margin-top: 16%;
    display: flex;
}

.r-header-search>.searchtext {
    border-radius: 10px;
    background-color: #ebe0d9;
    border: rgb(155, 155, 155) 1px solid;
    outline: none;
    width: 150px;
    font-size: 15px;
}

.searchpic {
    width: 80%;
    height: 100%;
}

.searchbtn {
    border: none;
    background-color: #f0e2d700;
    cursor: pointer;
}

/*購物車跟會員*/
.r-header-smallpic {
    width: 14%;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}

.carta{
    width: 100%;
    margin-top: 9%;
}

.r-h-smallpic-memcart {
    width: 45%;
    height: 40px;
    margin: 16% 5%;
}

.r-h-smallpic-memcart>img {
    width: 100%;
    height: 100%;
}

.all {
    width: 1900px;
    height: auto;
    margin: auto;
    padding: 50px 0px 0px 40px;
}

/*footer*/
.footer {
    height: 100px;
    background-color: #f0e2d7;
    display: flex;
    font-size: larger;
}

.footer-contactus {
    width: 30%;
    margin: 7px 20px
}

.footer-count {
    width: 100%;
    margin-left: 10%;
    text-align: center;
}

.footer-our {
    width: 50%;
    margin: 7px 0px;
}

.footer-our>p {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

/*------------------------------------*/
.back-bbox {
    background-image: url(../img/m3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10PX;
    width: 1400px;
    height: 680px;
    display: flex;
    margin-bottom: 2%;
}

.back-mbox {
    background-color: rgba(93, 93, 93, 0.678);
    width: 1350px;
    height: 600px;
    margin: 3% 0 0 2%;
    display: block;
    border-radius: 10px;
}

.back-option1 {
    /*background-color: rgba(255, 255, 255, 0.842);*/
    width: 1000px;
    height: 100px;
    margin: 10% 0 0 10%;
    display: flex;
}

.back-option2 {
    /*background-color: rgba(255, 255, 255, 0.842);*/
    width: 1000px;
    height: 100px;
    margin: 10% 0 0 11%;
    display: flex;
}

.back-option1-Btn {
    background-color: #095252;
    color: white;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 70px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 20px;
    font-size: 40px;
    border-radius: 10px;
}

.back-option1-Btn:hover {
    background-color: #f34e4e;
    color: rgb(5, 5, 5);
    transition: 0.5s;
}

.back-option2-Btn {
    background-color: #095252;
    color: white;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 70px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 20px;
    font-size: 40px;
    border-radius: 10px;
}

.back-option2-Btn:hover {
    background-color: #f34e4e;
    color: rgb(5, 5, 5);
    transition: 0.5s;
}

/*---------------------修改會員資料-------------------------------------*/
.dmember-bbox {
    background-image: url(../img/m9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10PX;
    width: 1400px;
    height: auto;
    display: flex;
    margin-bottom: 2%;
}

.dmember-mbox {
    background-color: rgba(144, 142, 142, 0.746);
    width: 1350px;
    height: 1200px;
    margin: 2% 0 2% 2%;
    display: block;
    border-radius: 10px;
}

.dmember-sbox {
    background-color: rgba(255, 255, 255, 0.842);
    width: 1280px;
    height: 250px;
    margin: 3% 0 2% 3%;
    display: flex;
}

.dmember-sbox-ph {
    width: 230px;
    height: 230px;
    background-color: #09525265;
    margin: 0.7% 0 0 4%;
}

.dmember-sbox-ph>img {
    width: 250px;
    height: auto;
}

.dmember-sbox-ind {
    width: 900px;
    height: 230px;
    margin: 10px 0 0 100px;
}

.dmember-sbox-ind>p {
    font-size: 30px;
    line-height: 28pt;
    margin: 10px 0 0 30px;
    line-height: 40pt;
}

.dmember-Btn {
    background-color: #095252;
    color: white;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 50px;
    margin-top: 180px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    border-radius: 10px;
}

.dmember-Btn:hover {
    background-color: #f34e4e;
    color: rgb(5, 5, 5);
    transition: 0.5s;
}

/*--------------------------------------------新增商品-----------------------------------*/
.nproducts-bbox {
    background-image: url(../img/m3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10PX;
    width: 1400px;
    height: 680px;
    display: flex;
    margin-bottom: 2%;
}

.nproducts-mbox {
    background-color: rgba(93, 93, 93, 0.678);
    width: 1350px;
    height: 600px;
    margin: 3% 0 0 2%;
    display: block;
    border-radius: 10px;
}

.nproducts-option1 {
    background-color: rgba(255, 255, 255, 0.842);
    width: 1000px;
    height: 80px;
    margin: 3% 0 0 15%;
    display: flex;
}

.nproducts-option1>p {
    font-size: 45px;
    margin-top: 20px;
    margin-left: 20px;
}

.nproducts-option1 input[type="text"] {
    display: block;
    width: 450px;
    height: 50px;
    margin: 1.7% 0px 0px 0px;
    border-radius: 10px;
    font-size: 25px;
}

.nproducts-option2 {
    background-color: rgba(255, 255, 255, 0.842);
    width: 1000px;
    height: 80px;
    margin: 3% 0 0 15%;
    display: flex;
}

.nproducts-option2>p {
    font-size: 45px;
    margin-top: 20px;
    margin-left: 20px;
}

.nproducts-option2 input[type="text"] {
    display: block;
    width: 450px;
    height: 50px;
    margin: 1.7% 0px 0px 0px;
    border-radius: 10px;
    font-size: 25px;
}

.nproducts-option3 {
    background-color: rgba(255, 255, 255, 0.842);
    width: 1000px;
    height: 80px;
    margin: 3% 0 0 15%;
    display: flex;
}

.nproducts-option3>p {
    font-size: 45px;
    margin-top: 20px;
    margin-left: 20px;
}

.nproducts-option3 input[type="text"] {
    display: block;
    width: 450px;
    height: 50px;
    margin: 1.7% 0px 0px 0px;
    border-radius: 10px;
    font-size: 25px;
}

.nproducts-Btn {
    background-color: #095252;
    color: white;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 50px;
    position: relative;
    margin-top: 2%;
    margin-left: 80%;
    font-size: 30px;
    border-radius: 10px;
}

.nproducts-Btn:hover {
    background-color: #f34e4e;
    color: rgb(5, 5, 5);
    transition: 0.5s;
}

/*--------------------------修改商品-------------------------*/
.revise-products-bbox {
    background-image: url(../img/m3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10PX;
    width: 1400px;
    height: 680px;
    display: flex;
    margin-bottom: 2%;
}

.revise-products-mbox {
    background-color: rgba(93, 93, 93, 0.678);
    width: 1350px;
    height: 600px;
    margin: 3% 0 0 2%;
    display: block;
    border-radius: 10px;
}

.revise-products-option1 {
    background-color: rgba(255, 255, 255, 0.842);
    width: 1000px;
    height: 80px;
    margin: 3% 0 0 15%;
    display: flex;
}

.revise-products-option1>p {
    font-size: 45px;
    margin-top: 20px;
    margin-left: 20px;
}

.revise-products-option1 input[type="text"] {
    display: block;
    width: 450px;
    height: 50px;
    margin: 1.7% 0px 0px 0px;
    border-radius: 10px;
    font-size: 25px;
}

.revise-products-option2 {
    background-color: rgba(255, 255, 255, 0.842);
    width: 1000px;
    height: 80px;
    margin: 3% 0 0 15%;
    display: flex;
}

.revise-products-option2>p {
    font-size: 45px;
    margin-top: 20px;
    margin-left: 20px;
}

.revise-products-option2 input[type="text"] {
    display: block;
    width: 450px;
    height: 50px;
    margin: 1.7% 0px 0px 0px;
    border-radius: 10px;
    font-size: 25px;
}

.revise-products-option3 {
    background-color: rgba(255, 255, 255, 0.842);
    width: 1000px;
    height: 80px;
    margin: 3% 0 0 15%;
    display: flex;
}

.revise-products-option3>p {
    font-size: 45px;
    margin-top: 20px;
    margin-left: 20px;
}

.revise-products-option3 input[type="text"] {
    display: block;
    width: 450px;
    height: 50px;
    margin: 1.7% 0px 0px 0px;
    border-radius: 10px;
    font-size: 25px;
}

.revise-products-Btn {
    background-color: #095252;
    color: white;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 50px;
    position: relative;
    margin-top: 2%;
    margin-left: 80%;
    font-size: 30px;
    border-radius: 10px;
}

.revise-products-Btn:hover {
    background-color: #f34e4e;
    color: rgb(5, 5, 5);
    transition: 0.5s;
}

/*---------------------------------刪除商品---------------*/
.main {
    height: auto;
    padding-top: 60px;
}

.delback {
    width: 1400px;
    height: 700px;
    display: flex;
    margin-bottom: 2%;
    margin-left: 2%;
    background-image: url(../img/m3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding-top: 30px;
}

.delbackback {
    background-color: rgba(161, 161, 161, 0.74);
    border-radius: 20px;
    height: auto;
    width: 1350px;
    margin: auto;
    padding-top: 30px;
}

.delbackbackback {
    height: 630px;
    width: 1600px;
    margin: auto;
    padding-top: 10px;
    display: flex;
}

.delproduct {
    height: 580px;
    width: 900px;
    border-radius: 10px;
    margin: 0 0 0 2%;
    /*padding-left:30px;
    padding-top: 10px;*/
}

.delproinside {
    height: 180px;
    width: 650px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    padding-left: 50px;
    margin: 0px 0px 2% 0px;
}

.productimg {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 15px;
}

.productimg>img {
    height: 100%;
    width: 100%;
}

.productcontent {
    width: 370px;
    font-size: 28px;
    margin-left: 2%;
    margin-top: 5%;
}

.delbtn {
    background-color: #f7e8df;
    width: 150px;
    font-size: 21px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 5;
    margin-right:2%;
    margin-top: 20%;
    transition: 0.2s;
    border: rgb(88, 88, 88) 1px solid;
}

.delbtn:hover {
    background-color: #63a5a5;
    color: white;
}

/*---------------------------------訂單管理---------------*/
.ordermain {
    height: 1000px;
    padding-top: 20px;
}

.orderback {
    background-image: url(../img/m3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
    height: 950px;
    width: 1400px;
    padding-top: 30px;
    border-radius: 10px;
}

.orderbackback {
    background-color: rgba(161, 161, 161, 0.74);
    border-radius: 20px;
    height: 900px;
    width: 1350px;
    margin-left: 1.5%;
    padding-top: 20px;
}

.orderproduct {
    height: 200px;
    width: 1300px;
    margin-left: 2%;
    border-radius: 20px;
    background-color: rgba(247, 243, 243, 0.733);
    display: flex;
    margin-top: 10px;
}

.ordernumber {
    margin-top: 55px;
    margin-left: 30px;
    font-size: 50px;
}

.ordercontent {
    margin: 2% 5%;
    font-size: 28px;
    line-height: 35px;
}

.orderbtn {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
}

.orderinsidebtn {
    font-size: 28px;
    height: 50px;
    width: 150px;
    border-radius: 13px;
    padding: 5px;
    margin: 2% 0px;
    margin-left: 100%;
    cursor: pointer;
    background-color: rgb(253, 249, 232);
    border: #6b6b6a 1px solid;
    transition: 0.3s;
}

.orderinsidebtn:hover {
    background-color: #63a5a5;
    color: white;
}

.orderdetail {
    background-color: white;
    position: fixed;
    top: 25%;
    left: 28%;
    z-index: 1;
    height: 400px;
    width: 700px;
    border: #518b8f 10px solid;
    visibility: hidden;
}

.detailtitle {
    height: 60px;
    width: 690px;
    margin: -0.5% 0 0 0;
    background-color: #518b8f;
    padding-top: 5px;
    display: flex;
}

.text {
    font-size: 34px;
    margin-left: 10px;
}

.outpic {
    height: 40px;
    width: 40px;
    overflow: hidden;
    margin-left: 450px;
    cursor: pointer;
}

.outpic>img {
    height: 100%;
    width: 100%;
}

.detailcontent {
    height: 60px;
    width: 650px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
}

.detailcontent {
    font-size: 28px;
    height: 50px;
}

.detailcontent>p {
    height: 30px;
    width: 130px;
    text-align: center;
    margin: 5px 50px;

}