body {
    background-color: lightyellow;
    background-image: url(../img/recordpalyer.gif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 華康棒棒體W5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;

}


/*header*/
header {
    margin-top: 25px;
    height: 100px;
    display: flex;
}

/*字型----------------------*/
@font-face{
    font-family: '華康棒棒體W5';
    src: url('../font/MiConv.com__DFBnagBang-W5-WIN-BF-01.woff') format("woff"),
        url('../font/DFBnagBang-W5-WIN-BF-01.ttf') format("truetype"),
        url('../font/MiConv.com__DFBnagBang-W5-WIN-BF-01.eot') format("embedded-opentype");
}

header{
    width: 100%;
}

.indexa{
    width: 20%;
}

.r-header-titlebox {
    width: 80%;
    overflow: hidden;
    margin-left: 7%;
}
.r-header-title {
    padding: 10px;
    width: 100%;
    border-radius: 20px;
}

.r-header-title>img {
    width: 100%;
}

.r-header-title2 {
    position: absolute;
    top: 35px;
    width: 15%;
    opacity: 0;
    border-radius: 20px;
}

.r-header-titlebox:hover>.r-header-title2 {
    opacity: 1;
}

.r-header-titlebox:hover>.r-header-title {
    opacity: 0;
}

.r-header-title2>img {
    width: 100%;
}

/*選單*/
.r-header-nav {
    width: 60%;
    display: flex;
    padding-left: 1%;
}

.nava{
    width: 15%;
    margin: 3%;
}

.r-h-n-text-content {
    width: 100%;
    font-size: 24px;
    margin-top: 12%;
    transform: scale(1, 1.05);
    color: rgba(255, 255, 255, 0.507);
}

.r-h-n-text-content:hover {
    width: 100px;
    height: 33px;
    border-radius: 10px;
    color: #ffffff;
    padding-top: 3px;
    transform: scale(1, 1.05);
    cursor: pointer;
}

/*搜尋*/
.r-header-search {
    margin-top: 16%;
    height: 40px;
    width: 200px;
    display: flex;

}

.r-header-search>.searchtext {
    border-radius: 10px;
    background-color: #ebe0d900;
    border: rgb(155, 155, 155) 1px solid;
    color: white;
    outline: none;
    width: 150px;
    font-size: 15px;
}

.searchpic {
    width: 100%;
    height: 100%;
}

.searchbtn {
    border: none;
    background-color: #f0e2d700;
    cursor: pointer;
}

/*購物車跟會員*/
.r-header-smallpic {
    width: 14%;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}

.carta{
    width: 100%;
    margin-top: 9%;
}

.r-h-smallpic-memcart {
    width: 45%;
    height: 40px;
    margin: 16% 5%;
}

.r-h-smallpic-memcart>img {
    width: 100%;
    height: 100%;
}

/*內容----------------------------------------------------------*/
main {
    height: 100%;
    width: 100%;
    min-height: calc(100% - 200px);
}

/*左邊標語*/

.content {
    margin-top: 8%;
    height: 370px;
    width: 800px;
    color: rgba(255, 255, 255, 0.932);
    font-size: 43px;
    font-style: italic;
    margin-left: 13%;
    border-radius: 50px;
    line-height: 100px;
    -webkit-animation: fade-in-bottom 3s infinite;
    animation: fade-in-bottom 3s infinite;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/*footer*/
.footer {
    height: 100px;
    color: rgba(255, 255, 255, 0.226);
    display: flex;
    font-size: larger;
}

.footer-contactus {
    width: 250px;
    margin: 7px 20px
}

.footer-count {
    width: 100%;
    margin-top: 4%;
    margin-left: 10%;
    text-align: center;
}

.footer-our {
    width: 400px;
    margin: 7px 20px;
}

.footer-our>p {
    text-align: center;
}