body {
    background-color: lightyellow;
    background-image: url(../img/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "華康棒棒體W5";
}


a {
    text-decoration: none;
    color: black;

}

/*header*/
header {
    margin-top: 25px;
    height: 10%;
    background-color: #f0e2d7;
    display: flex;
    width: 100%;
}

/*字型----------------------*/
@font-face{
    font-family: '華康棒棒體W5';
    src: url('../font/MiConv.com__DFBnagBang-W5-WIN-BF-01.woff') format("woff"),
        url('../font/DFBnagBang-W5-WIN-BF-01.ttf') format("truetype"),
        url('../font/MiConv.com__DFBnagBang-W5-WIN-BF-01.eot') format("embedded-opentype");
}

.indexa{
    width: 20%;
}

.r-header-titlebox {
    margin-top: 1%;
    width: 90%;
    overflow: hidden;
    margin-left: 7%;
}

.r-header-title {
    padding: 10px;
    width: 100%;
}

.r-header-title>img {
    width: 100%;
}

.r-header-title2 {
    position: absolute;
    top: 38px;
    left: 38px;
    width: 16%;
    opacity: 0;
    border-radius: 20px;
}

.r-header-titlebox:hover>.r-header-title2 {
    opacity: 1;
}

.r-header-titlebox:hover>.r-header-title {
    opacity: 0;
}

.r-header-title2>img {
    width: 100%;
}

/*選單*/
.r-header-nav {
    width: 60%;
    display: flex;
    padding-left: 1%;
}

.nava{
    width: 15%;
    margin: 3%;
}

.r-h-n-text-content {
    width: 100%;
    font-size: 24px;
    margin-top: 14%;
    transform: scale(1, 1.05);
}

.r-h-n-text-content:hover {
    width: 100px;
    height: 33px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #63a5a5;
    padding-top: 3px;
    transform: scale(1, 1.05);
    cursor: pointer;
}

/*搜尋*/
.r-header-search {
    height: 40px;
    width: 200px;
    margin-top: 16%;
    display: flex;
}

.r-header-search>.searchtext {
    border-radius: 10px;
    background-color: #ebe0d9;
    border: rgb(155, 155, 155) 1px solid;
    outline: none;
    width: 150px;
    font-size: 15px;
}

.searchpic {
    width: 100%;
    height: 100%;
}

.searchbtn {
    border: none;
    background-color: #f0e2d700;
    cursor: pointer;
}

/*購物車跟會員*/
.r-header-smallpic {
    width: 14%;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}

.carta{
    width: 100%;
    margin-top: 9%;
}

.r-h-smallpic-memcart {
    width: 45%;
    height: 40px;
    margin: 16% 5%;
}

.r-h-smallpic-memcart>img {
    width: 100%;
    height: 100%;
}

/*內容--------------------------------------------------*/
main {
    height: 1000px;
    width: 100%;
    padding: 40px 0px;
    display: flex;
}

/*旁邊選單*/
.aside {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 600px;
    background-image: url(../img/marble.jpg);
    margin-top: 70px;
    border-radius: 20px;
    font-size: 30px;
    line-height: 50px;
}

.aside-in {
    width: 250px;
    height: 500px;
    margin: 10px 20px;
    border-radius: 10px;
    background-color: rgba(196, 196, 196, 0.212);
}

.asidetitle {
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

li {
    width: 120px;
}

li:hover {
    color: #5ca0a0;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

/*最外面的框框*/
.backback {
    padding: 20px 30px;
    border-radius: 8px;
    margin: auto;
    margin-left: 25%;
    background-image: url(../img/marble.jpg);
}

.back {
    margin: auto;
    height: 950px;
    width: 800px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.61);
}

.back-text {
    margin-top: 10px;
    margin-left: 30px;
    width: 350px;
    font-size: 50px;
    padding-top: 30px;
    letter-spacing: 5px;
    color: rgba(48, 48, 48, 0.904);
}

/*裡面正方形*/
.back-square {
    margin: 20px 80px;
    width: 650px;
    height: 770px;
    border-radius: 5px;
    background-image: url(../img/marble1\ \(2\).jpg);
    background-color: rgba(51, 51, 51, 0.815);
    background-blend-mode: multiply;
    background-size: contain;
}

/*一段對話*/
.dialogue {
    padding-top: 40px;
    width: 100%;
    height: 320px;
    color: white;
}

/*第一句跟第二句*/
.NO1talk,
.NO2talk {
    display: flex;
}

.NO2talk {
    padding-left: 80px;
}

.pic {
    padding-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.pic>img {
    height: 100%;
    width: 100%;
}

/*對話泡泡*/
.talk {
    margin-top: 10px;
    height: 150px;
    width: 400px;
}

.bubble,
.bubble2 {
    height: 100px;
    border-radius: 10px;
    background-color: rgba(179, 167, 149, 0.651);
    position: relative;
}

.bubble {
    width: 300px;
    margin-top: 30px;
    margin-left: 10px;
}

.bubble2 {
    width: 330px;
    margin-top: 30px;
    margin-left: 60px;
}

.bubble::before {
    position: absolute;
    top: 40px;
    left: -20px;
    content: '';
    width: 0;
    height: 0;
    border-right: 10px solid rgba(179, 167, 149, 0.651);
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
}

.bubble2::before {
    position: absolute;
    top: 40px;
    left: 330px;
    content: '';
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(179, 167, 149, 0.651);
    border-top: 10px solid transparent;
}

.buttoncontent,
.buttoncontent1 {
    width: 300px;
    position: relative;
    left: 10px;
    z-index: 1;
    font-size: 25px;
}

.buttoncontent {
    top: 30px;
}

.buttoncontent1 {
    top: 10px;
    line-height: 40px;
}





/*footer*/
.footer {
    height: 100px;
    background-color: #f0e2d7;
    display: flex;
    font-size: larger;
}

.footer-contactus {
    width: 30%;
    margin: 7px 20px
}

.footer-count {
    width: 100%;
    margin-left: 10%;
    text-align: center;
}

.footer-our {
    width: 50%;
    margin: 7px 0px;
}

.footer-our>p {
    text-align: center;
}