* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "華康棒棒體W5";
}

body {
    background-image: url(../img/3.jpg);
    background-color: #3c6464;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: auto;
    padding: 20px;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

/*header*/
header {
    margin-top: 5px;
    height: 10%;
    background-color: #f0e2d7;
    display: flex;
    width: 100%;
}

/*字型----------------------*/
@font-face{
    font-family: '華康棒棒體W5';
    src: url('../font/MiConv.com__DFBnagBang-W5-WIN-BF-01.woff') format("woff"),
        url('../font/DFBnagBang-W5-WIN-BF-01.ttf') format("truetype"),
        url('../font/MiConv.com__DFBnagBang-W5-WIN-BF-01.eot') format("embedded-opentype");
}

.indexa{
    width: 20%;
}

.r-header-titlebox {
    margin-top: 1%;
    width: 90%;
    overflow: hidden;
    margin-left: 7%;
}

.r-header-title {
    padding: 10px;
    width: 100%;
}

.r-header-title>img {
    width: 100%;
}

.r-header-title2 {
    position: absolute;
    top: 38px;
    left: 38px;
    width: 16%;
    opacity: 0;
    border-radius: 20px;
}

.r-header-titlebox:hover>.r-header-title2 {
    opacity: 1;
}

.r-header-titlebox:hover>.r-header-title {
    opacity: 0;
}

.r-header-title2>img {
    width: 100%;
}

/*選單*/
.r-header-nav {
    width: 60%;
    display: flex;
    padding-left: 1%;
    
}

.nava{
    width: 15%;
    margin: 3%;
}

.r-h-n-text-content {
    width: 100%;
    font-size: 24px;
    margin-top: 14%;
    transform: scale(1, 1.05);
}

.r-h-n-text-content:hover {
    width: 100px;
    height: 33px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #63a5a5;
    padding-top: 3px;
    transform: scale(1, 1.05);
}

/*搜尋*/
.r-header-search {
    height: 40px;
    width: 200px;
    margin-top: 16%;
    display: flex;
}

.r-header-search>.searchtext {
    border-radius: 10px;
    background-color: #ebe0d9;
    border: rgb(155, 155, 155) 1px solid;
    outline: none;
    width: 150px;
    font-size: 15px;
}

.searchpic {
    width: 100%;
    height: 100%;
}

.searchbtn {
    border: none;
    background-color: #f0e2d700;
    cursor: pointer;
}

/*購物車跟會員*/
.r-header-smallpic {
    width: 14%;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}

.carta{
    width: 100%;
    margin-top: 9%;
}

.r-h-smallpic-memcart {
    width: 45%;
    height: 40px;
    margin: 16% 5%;
}

.r-h-smallpic-memcart>img {
    width: 100%;
    height: 100%;
}

.all {
    width: 1900px;
    height: auto;
    margin: auto;
    padding: 50px 0px 0px 40px;
}

/*footer*/
.footer {
    height: 100px;
    background-color: #f0e2d7;
    display: flex;
    font-size: larger;
}

.footer-contactus {
    width: 30%;
    margin: 7px 20px
}

.footer-count {
    width: 100%;
    margin-top: 2%;
    line-height: 30px;
    margin-left: 10%;
    text-align: center;
}

.footer-our {
    width: 50%;
    margin: 7px 0px;
}

.footer-our>p {
    text-align: center;
}

.searchmain {
    height: 662px;
}

.searchtitle {
    font-size: 40px;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.781);
}

.searchcontent {
    padding-top: 70px;
    width: 90%;
    height: 550px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 20px;
    background-color: rgba(189, 177, 177, 0.623);
}

.searchproduct {
    width: 400px;
}

.searcha:hover>.searchtitletext {
    color: #447070;
}

.searchpropic {
    margin-left: 60px;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
}

.searchpropic>img {
    height: 100%;
    width: 100%;
}

.searchtitletext {
    text-align: center;
    height: 45px;
    border-radius: 15px;
    font-size: 40px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.616);
    margin-top: 10px;
    margin-left: 60px;
}